.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: none; /* Remove any existing background color */
}

#tsparticles {
  position: fixed; /* Make sure it stays fixed while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Keep particles behind the content */
  pointer-events: none; /* Prevent interaction with particles */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
